.article{
  color: #F18841;
  background: linear-gradient(to top, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5));
  padding: 1rem 3rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .2s !important;
  transform: translateX(0rem);
  filter: brightness(1);
  border-radius: 1.5rem;
  border: hsla(0, 0%, 100%, 0.5) solid 0.05rem;
  backdrop-filter: blur(20px); /* Flou appliqué à l'arrière-plan */
}

.article.small{
  padding: 1.5rem 3rem;
  transition: all .2s;
  cursor: pointer;
  transform: translateX(0rem);
  filter: brightness(1);
  border-radius: 1.5rem;
}

.article.small:hover{
  transform: translateX(.5rem);
  filter: brightness(1.2);
  transition: all .1s;
  border: hsla(0, 0%, 100%, 0.75) solid 0.05rem;
}

.article.big{
  transition: all .2s;
  gap: .2rem;
  cursor: pointer;
}

.article .text,
.article .list{
  color: #3e3e3e;
  font-size: 1.1rem;
  flex: 1; /* Prend tout l'espace disponible */
}

.article.small .title{
  line-height: 1.5;
  margin: 0 0 .5rem;
}

.article .title {
  font-size: 1.2rem;
  line-height: 3;
  margin-bottom: 1rem;
}

.article .image {
  max-height: 33vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%; /* Fixer la largeur de l'image */
}

.article .image img {
  border-radius: 0.5rem;
  object-fit: cover; /* Assurer un bon ajustement de l'image */
  width: 100%;
  height: auto;
}

.article.big .close{
  cursor: pointer;
  pointer-events: all;
}

.article .close{
  position: absolute;
  right: 1rem;
  top: 2rem;
  transition: all .2s;
  color: #F5F5F5;
}

.article .close:hover{
  color: #ff0000;
  transform: scale(1.3);
}