.filtersTab {
  border: hsl(0, 0%, 100%) solid 0.05rem;
  color: #F18841;
  background: linear-gradient(to top, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5));
  box-shadow: inset 0 0 0 0.01rem hsla(0, 0%, 100%, 0.5), 0 0px 0px #83471fcb;
  backdrop-filter: blur(20px);
  position: fixed;
  left: 1rem;
  top: -8rem; /* Place la section en haut de l'écran */
  padding: 1rem;
  height: calc(100% - 35rem); /* Ajuste la hauteur pour occuper tout l'espace sauf marges */
  transition: all 0.2s;
  border-radius: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  z-index: 1;
  overflow-y: auto; /* Ajoute un défilement si le contenu dépasse */
}

.filtersHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.searchContainer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0; /* Fixe la barre de recherche en haut */
  z-index: 2;
  border-bottom: 1px solid #F18841;
}

.searchInput {
  height: 3rem;
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  color: #a5a5a5;
  background-color: #f1874127;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}





h3 { 
font-size: 1.8rem;}