.filtersTab {
  border: hsl(0, 0%, 100%) solid 0.05rem;
  color: #F18841;
  background: linear-gradient(to top, hsla(0, 0%, 100%, 0.05), hsla(0, 0%, 100%, 0.05));
  box-shadow: inset 0 0 0 .01rem hsla(0, 0%, 100%, 0.5), 0 0px 0px #83471fcb; 
  backdrop-filter: blur(20px); /* Flou appliqué à l'arrière-plan */
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  padding: 1rem;
  height: calc(100% - 8.5rem);
  transition: all .2s;
  border-radius: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  z-index: 1;
}

.filtersTab.disabled{
  transform: translateX(-1rem);
  opacity: 0;
  pointer-events: none;
}

.filtersTab h3{
  margin-top: -40rem;
  font-size: 1.5rem;
  color: #F18841;
}

.tagContainer{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

html, body {
  height: 100%;
}