body {
  background-color: white;
  /* background: url("/public/IMG/WB1.png") no-repeat center center fixed; */
  /* background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Fux-background&psig=AOvVaw3SHVTrBU8WmIKmfhDEvCCA&ust=1733924412899000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKie9fypnYoDFQAAAAAdAAAAABAE") no-repeat center center fixed; */
  background-size: 110% 110%;
  animation: shrinkBackground 3s forwards;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  z-index: 2;
}

html, body {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@keyframes shrinkBackground {
  from {
    background-size: 200% 200%;
  }
  to {
    background-size: 100% 100%;
  }
}