/* Reset CSS */

/* Box sizing border-box for all elements */
*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,.App{
  min-height: 100vh;
  height: 100vh;
}

/* Remove default margin and padding */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  font-weight: 600;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

/* List styles */
ol, ul {
  padding-left: 2rem;
}

/* Quotes */
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Images */
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Form elements */
button, input, select, textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  appearance: none;
}

/* Remove outline from focused elements */
*:focus {
  outline: none;
}

/* Remove spinner from number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Ensure consistent appearance across all browsers for form elements */
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* Inherit line-height and font styles */
button, input, textarea, select {
  font: inherit;
  color: inherit;
}

/* Reset input placeholders */
input::placeholder, textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

/* Make sure that the text in disabled elements is readable */
:disabled {
  opacity: 0.5;
}

/* Reset media elements */
audio, canvas, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}

.shadow{
  /* box-shadow: 0 0 5rem #000000a0; */
}

.reducedWidth{
  width: 50%;
  min-width: 500px;
  max-width: 100%  !important;
}

@font-face {
  font-family: 'GothamMedium';
  src: url("../../public/fonts/GothamMedium.ttf") format('trueType');
}