.tag{
  background-color: hsla(0, 0%, 15%, 0.491);
  color: hsl(0, 0%, 100%);
  padding: .5rem 1rem;
  border-radius: 2rem;
  position: relative;
  transition: all .2s;
  cursor:pointer;
}

.tag:hover{
  filter: contrast(0.8);
}

.tag.enabled { box-shadow: inset 0 0 0 2px #ffffff, 0 5px 10px #83471fcb; 
  padding-right: 1.5rem;
}

.tag svg{
  position: absolute;
  right: .5rem;
  transition: all .2s;
}

.tag.disabled svg{
  transform: scale(0);
  right: 0;
}
