.topBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 6.5rem;
  width: 100%;
  padding: 1rem 0rem;
  background: linear-gradient(to top, #ee6e18, #F18841);
  z-index: 2;
}

/*TOP*/

.topBar .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 1.5rem;
  color: hsl(0, 0%, 100%);
}

/*TOP LEFT*/
.filtersButton {
  margin-bottom: -2.6rem;

  display: flex;
  align-items: flex-end;
  gap: .5rem;
  cursor: pointer;
  transition: all .2s;
}

.filtersButton.enabled,
.filtersButton:hover {
  background: #F18841;
}

.filtersButton.enabled svg {
  transform: rotate(90deg);
}

.filtersButton svg {
  font-size: 1.3rem;
  transition: all .2s;
}


/*TOP CENTER*/

.topBar .top h1 {
  margin-top: auto;
  margin-bottom: -2.6rem;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'GothamMedium' !important;
}

h1 {
  font-family: 'GothamMedium' !important;
  font-weight: 500;
}

/*TOP RIGHT*/

.connect {
  display: flex;
  gap: .5rem;
}

.connect button {
  display: flex;
  gap: .5rem;
  cursor: pointer;
  transition: all .2s;
}

.connect button:hover {
  color: #F18841;
}

/*BOTTOM*/
.topBar .bottom {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 2rem;
}


/*BOTTOM LEFT*/

.topBar .bottom {
  background-color: hsla(0, 0%, 100%, 0.20);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border-radius: 5rem;
  color: hsl(0, 0%, 100%);
  transition: all .2s;
  position: relative;
}

.topBar .bottom svg {
  position: absolute;
  pointer-events: none;
}

.topBar .bottom input {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  padding-left: 2rem;
}

.topBar .bottom input {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

.topBar .bottom {
  filter: contrast(1.3);
}

/*BOTTOM RIGHT*/
.topBar .bottom img {
  height: 1.5rem;
  opacity: 0.9;
  pointer-events: none;
  user-select: none;
}

.connect {
  margin-bottom: -3.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profileImage {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.logoutIcon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  color: hsl(0, 0%, 100%);
}