.topBar {
  display: flex;
  flex-direction: row; /* Change de column à row */
  align-items: center;
  justify-content: space-between; /* Espacement entre les éléments */
  height: 6.5rem;
  width: 100%;
  padding: 1rem 2rem; /* Ajustement des marges pour les bords */
  background: linear-gradient(to top, #ee6e18, #F18841);
  z-index: 2;
}

/*TOP*/

.topBar .top {
  flex-grow: 1; /* Permet au titre de prendre l'espace disponible */
  text-align: center;
  font-family: 'GothamMedium' !important;
  color: #fff;
}

.topBar .wblogo {
  width: 17rem; /* Taille du logo ajustée */
  margin-left: 5rem;
  filter: drop-shadow(2px 2px 10px rgba(136, 48, 0, 0.5));
}

.logoutIcon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.logoutIcon:hover {
  color: #e80000;
  filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 1));
}

.connect {
  size: 20rem;
  display: flex;
  align-items: center;
  gap: 1rem; /* Espacement entre le nom du user et l'icône */
  color: #fff;
}

/*TOP LEFT*/
/* Ensure that the filters buttons are aligned at the top */

.filtersButton {  
  height: 4rem;
  width: 10rem;
  border-radius: 1.5rem; /* Rend le bouton plus arrondi */
  padding: 10px 15px; /* Ajuste la taille du bouton */
  border: none; /* Supprime la bordure par défaut */
  background-color: #4CAF50; /* Couleur de fond par défaut */
  color: #fff; /* Couleur du texte */
  cursor: pointer; /* Change le curseur en pointeur */
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement si nécessaire */
  padding: 1rem; /* Ajoute un peu d'espace autour */
  margin-top: 2rem;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out; /* Ajoute une transition pour le hover */
}

/* .filtersButton.enabled,
.filtersButton:hover {
  background: #F18841;
}

.filtersButton.enabled svg {
  transform: rotate(90deg);
}

.filtersButton svg {
  font-size: 1.3rem;
  transition: all .2s;
} */


/*TOP CENTER*/

.topBar h1 {
  margin-top: -2rem; /* Ajustez cette valeur pour le rapprocher du haut */
  font-size: 2.5rem;
  text-align: center;
  font-family: 'GothamMedium' !important;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Ombre portée sous le texte */

}

/*TOP RIGHT*/

/* .connect button {
  display: flex;
  gap: .5rem;
  cursor: pointer;
  transition: all .2s;
}

.connect button:hover {
  color: #F18841;
} */



/*BOTTOM*/
.topBar .bottom {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 2rem;
}


/*BOTTOM LEFT*/

.topBar .bottom {
  background-color: hsla(0, 0%, 100%, 0.20);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border-radius: 5rem;
  color: hsl(0, 0%, 100%);
  transition: all .2s;
  position: relative;
}

.topBar .bottom svg {
  position: absolute;
  pointer-events: none;
}

.topBar .bottom input {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  padding-left: 2rem;
}

.topBar .bottom input {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

.topBar .bottom {
  filter: contrast(1.3);
}

/*BOTTOM RIGHT*/
/* .topBar .bottom img {
  height: 1.5rem;
  opacity: 0.9;
  pointer-events: none;
  user-select: none;
} */

/* .profileImage {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
} */




.filtersButton.enabled {
  background-color: #4CAF50; /* Couleur pour l'état actif */
}

.filtersButton.disabled {
  background-color: #F18841; /* Couleur pour l'état désactivé */
  cursor: pointer; /* Change le curseur en interdit */
}